go 1.26.0

use (
	./libs/clients/cf-accounts
	./libs/clients/cf-provisioner
	./libs/clients/cf-router
	./libs/cloudforge-core
	./libs/openbao
	./libs/scylladb
	./services/cf-accounts
	./services/cf-provisioner
	./services/cf-router
	./tools/cf-cli
	./tools/migrations
)
